# Editor junk
.DS_Store
*.log
.vscode/
.idea/

# Node-related (if used in future)
node_modules/

# Env and secrets
.env
.env.*

# Ignore wasm build output
og-composite-worker/pkg/
wasm-image-compositor/pkg/